*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #daedf8a1;
}
.load{
    position: relative;
    display: flex;
    filter: blur(.10px);
    align-items: flex-end;
}
.load span{
    width: 40px;
    height: 40px;
    margin: 0 15px;
    height: calc(40px * var(--i));
    border-radius: 40px;
    box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.6),
                inset 5px 5px 5px rgba(0,0,0, 0.1);
    animation: animate 7s linear infinite;
    animation-delay: calc(0.5s * var(--i));
}
@keyframes animate {
    0%{
        box-shadow: inset -6px -6px 10px rgba(212, 210, 210, 0.6),
                    inset 6px 6px 10px rgba(0,0,0, 0.1);
    }
    100%{
        box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.6),
                inset 5px 5px 5px rgba(0,0,0, 0.1);
    }
}